@import 'theme/base';

.sb-base-navbar {
    height: $sb-navbar-height;
    position: fixed;
    width: 100%;
    z-index: 99;

    .logo {
        height: 30px !important;
        width: 30px !important;
        z-index: 98;
        
        &:hover {
            cursor: pointer;
        }
    }
}

.sb-base {
    .contact-input {
        border-top-left-radius: 6px !important;
        border-bottom-left-radius: 6px !important;
    }
}
