@import "theme/base";

.sb-navbar {
    width: 100%;

    .logo {
        height: 30px !important;
        width: 30px !important;
        z-index: 98;
        margin-right: 1.5rem;

        &:hover {
            cursor: pointer;
        }
    }
}
