* {
  box-sizing: border-box;
  font-family: "Urbanist", sans-serif !important;
}

html,
body,
#root,
.App {
  height: 100%;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 4px;
  height: 3px;
}

::-webkit-scrollbar:hover {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 8px;
}

::-webkit-scrollbar-track {
  background: white;
  box-shadow: inset 0px 0px 0px 0px #f0f0f0;
}
