.sb-landing {
    height: 100%;
    width: 100%;

    .left-container {
        background-image: url('../../assets/background-left.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .right-container {
        background-image: url('../../assets/background-right.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}
