@import 'theme/base';

.sb-banner {
    position: relative;
    overflow: hidden;

    &-image {
        height: 100%;
        width: 100%;
        object-fit: contain;
        object-position: center;
    }

    &-button {
        position: absolute !important;
        right: 16px;
        bottom: 16px;
        background-color: white;
    }

    .edit-button-up {
        position: absolute;
        top: 16px;
        right: 16px;
    }

    .edit-button-down {
        position: absolute;
        top: 50px;
        right: 16px;
    }
}
