@import 'theme/base';

.sb-public-content {
    height: 100%;
}

.sb-whitelisted-content {
    padding-top: $sb-navbar-height;
    height: calc(100% - $sb-navbar-height);
}

.sb-private-content {
    padding-top: $sb-navbar-height;
    height: calc(100% - $sb-navbar-height);
}
