@import 'theme/base';

.sb-profile-icon {
    .chakra-menu__icon-wrapper {
        font-size: 1.2rem;
    }

    .button {
        border: 2px solid transparent;
        border-radius: 50%;

        &:hover {
            border: 2px solid $sb-gray-300;
        }

        &:active {
            border: 2px solid $sb-dark;
        }
    }
}
