.sb-auth-card {
    svg {
        display: inline;
        margin: 0;
    }

    .text-divider {
        font-size: 1rem;
        display: grid;
        grid-template-columns: 1fr max-content 1fr;
        grid-column-gap: 1rem;
        align-items: center;
        width: 100%;
        font-weight: 700;

        &::before,
        &::after {
            content: "";
            display: block;
            height: 2px;
        }
    }
}
