.sb-auth-card {
    svg {
        display: inline;
    }

    .text-divider {
        font-size: 1rem;
        display: grid;
        grid-template-columns: 1fr max-content 1fr;
        grid-column-gap: 1.2rem;
        align-items: center;
        width: 100%;

        &::before,
        &::after {
            content: "";
            display: block;
            height: 1px;
        }
    }
}
