@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 55 92% 98%;
    --foreground: 173 5% 10%;
    --card: 173 50% 100%;
    --card-foreground: 173 5% 15%;
    --popover: 173 100% 100%;
    --popover-foreground: 173 100% 10%;
    --primary: 173 80.4% 40%;
    --primary-foreground: 0, 0%, 0%;
    --secondary: 173 30% 90%;
    --secondary-foreground: 0 0% 0%;
    --muted: 211 30% 95%;
    --muted-foreground: 173 5% 40%;
    --accent: 211 30% 90%;
    --accent-foreground: 173 5% 15%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 173 5% 100%;
    --border: 173 30% 82%;
    --input: 173 30% 50%;
    --ring: 173 88.7% 45.3%;
    --radius: 0.5rem;
    --sidebar-background: 55 92% 96%;
    --sidebar-foreground: 173, 5%, 9%;
    --sidebar-primary: 173, 80%, 36%;
    --sidebar-primary-foreground: 0 0% 0%;
    --sidebar-accent: 211, 30%, 86%;
    --sidebar-accent-foreground: 0 0% 0%;
    --sidebar-border: 173, 30%, 78%;
    --sidebar-ring: 163, 98%, 45%;
  }

  .dark {
    --background: 214, 5%, 27%;
    --foreground: 173 5% 100%;
    --card: 217 9% 17%;
    --card-foreground: 173 5% 100%;
    --popover: 173 50% 5%;
    --popover-foreground: 173 5% 100%;
    --primary: 173 80.4% 40%;
    --primary-foreground: 0, 0%, 0%;
    --secondary: 173 30% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 211 30% 25%;
    --muted-foreground: 173 5% 65%;
    --accent: 211 30% 25%;
    --accent-foreground: 173 5% 95%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 173 5% 100%;
    --border: 173 30% 50%;
    --input: 173 30% 50%;
    --ring: 173 88.7% 45.3%;
    --radius: 0.5rem;
    --sidebar-background: 217 9% 17%;
    --sidebar-foreground: 173, 5%, 100%;
    --sidebar-primary: 173, 80%, 32%;
    --sidebar-primary-foreground: 0, 0%, 0%;
    --sidebar-accent: 211, 30%, 21%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 173, 30%, 48%;
    --sidebar-ring: 163, 98%, 45%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
