@import 'theme/base';

.sb-banner-select-modal {
    min-height: 480px; 

    .color-box {
        height: 60px;
        width: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: border 0.1s ease-in-out;

        .selected {
            border: none !important;
            cursor: default !important;
        }

        &:hover:not(.selected) {
            border: 2px solid $sb-gray-500;
            cursor: pointer;
        }

        .check {
            width: 24px;
            height: 24px;
            border-radius: 50%;
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}
