@import 'theme/colors/colors';

.sb-input-wrapper {
    
    .sb-input-label {
        color: $sb-secondary;

        .required {
            color: $sb-error;
            padding-left: 4px;
        }
    }
}
