$sb-gray-50: #f7fafc;
$sb-gray-100: #edf2f7;
$sb-gray-200: #e2e8f0;
$sb-gray-300: #cbd5e0;
$sb-gray-400: #a0aec0;
$sb-gray-500: #718096;
$sb-gray-600: #4a5568;
$sb-gray-700: #2d3748;
$sb-gray-800: #1a202c;
$sb-gray-900: #171923;

$sb-red-50: #fff5f5;
$sb-red-100: #fed7d7;
$sb-red-200: #feb2b2;
$sb-red-300: #fc8181;
$sb-red-400: #f56565;
$sb-red-500: #e53e3e;
$sb-red-600: #c53030;
$sb-red-700: #9b2c2c;
$sb-red-800: #822727;
$sb-red-900: #63171b;

$sb-orange-50: #fffaf0;
$sb-orange-100: #feebc8;
$sb-orange-200: #fbd38d;
$sb-orange-300: #f6ad55;
$sb-orange-400: #ed8936;
$sb-orange-500: #dd6b20;
$sb-orange-600: #c05621;
$sb-orange-700: #9c4221;
$sb-orange-800: #7b341e;
$sb-orange-900: #652b19;

$sb-yellow-50: #fffff0;
$sb-yellow-100: #fefcbf;
$sb-yellow-200: #faf089;
$sb-yellow-300: #f6e05e;
$sb-yellow-400: #ecc94b;
$sb-yellow-500: #d69e2e;
$sb-yellow-600: #b7791f;
$sb-yellow-700: #975a16;
$sb-yellow-800: #744210;
$sb-yellow-900: #5f370e;

$sb-green-50: #f0fff4;
$sb-green-100: #c6f6d5;
$sb-green-200: #9ae6b4;
$sb-green-300: #68d391;
$sb-green-400: #48bb78;
$sb-green-500: #38a169;
$sb-green-600: #38a169;
$sb-green-700: #276749;
$sb-green-800: #22543d;
$sb-green-900: #1c4532;

$sb-teal-50: #e6fffa;
$sb-teal-100: #b2f5ea;
$sb-teal-200: #81e6d9;
$sb-teal-300: #4fd1c5;
$sb-teal-400: #38b2ac;
$sb-teal-500: #319795;
$sb-teal-600: #2c7a7b;
$sb-teal-700: #285e61;
$sb-teal-800: #234e52;
$sb-teal-900: #1d4044;

$sb-blue-50: #ebf8ff;
$sb-blue-100: #bee3f8;
$sb-blue-200: #90cdf4;
$sb-blue-300: #63b3ed;
$sb-blue-400: #4299e1;
$sb-blue-500: #3182ce;
$sb-blue-600: #2b6cb0;
$sb-blue-700: #2c5282;
$sb-blue-800: #2a4365;
$sb-blue-900: #1a365d;

$sb-pink-50: #fff5f7;
$sb-pink-100: #fed7e2;
$sb-pink-200: #fbb6ce;
$sb-pink-300: #f687b3;
$sb-pink-400: #ed64a6;
$sb-pink-500: #d53f8c;
$sb-pink-600: #b83280;
$sb-pink-700: #97266d;
$sb-pink-800: #702459;
$sb-pink-900: #702459;

$sb-teal: $sb-teal-100;
$sb-orange: $sb-orange-100;
$sb-pink: $sb-pink-100;
$sb-dark: $sb-gray-600;
$sb-secondary: $sb-gray-100;
$sb-muted: $sb-gray-300;