@import "theme/base";

.sb-cover {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: block !important;

    &-image {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: bottom;
        vertical-align: baseline;
    }

    &-button {
        position: absolute !important;
        right: 16px;
        bottom: 16px;
        background-color: white;
    }

    .edit-button-up {
        position: absolute;
        top: 16px;
        right: 16px;
    }

    .edit-button-down {
        position: absolute;
        top: 50px;
        right: 16px;
    }
}
