@import "theme/base";

.sb-login {
    padding-top: $sb-navbar-height * 2;
    text-align: center;
    // background-image: url('../../assets/background-right.svg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}
